<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8" />
  <title>{% block title %}Sistema de Feedback{% endblock %}</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark px-3">
    <a class="navbar-brand" href="{{ url_for('index') }}">Sistema Feedback</a>
    <div class="navbar-nav">
      <a class="nav-link" href="{{ url_for('get_usuarios') }}">Usuários</a>
      <a class="nav-link" href="{{ url_for('get_categorias') }}">Categorias</a>
      <a class="nav-link" href="{{ url_for('get_status') }}">Status</a>
      <a class="nav-link" href="{{ url_for('get_jogos') }}">Jogos</a>
      <a class="nav-link" href="{{ url_for('get_versoes') }}">Versões</a>
      <a class="nav-link" href="{{ url_for('get_feedbacks') }}">Feedbacks</a>
      <a class="nav-link" href="{{ url_for('buscar_versoes_form') }}">Buscar Versões por Nome</a>
      <a class="nav-link" href="{{ url_for('buscar_feedbacks_por_status_form') }}">Buscar Feedbacks por Status</a>
    </div>
  </nav>
  <div class="container py-4">
    {% block content %}{% endblock %}
  </div>
   <footer class="bg-dark text-white py-4 mt-10">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h5>Sistema de Feedback</h5>
          <p class="mb-0">Gerencie usuários, jogos e feedbacks de forma eficiente.</p>
        </div>
        <div class="col-md-6 text-md-end">
          <p class="mb-0">© 2025 Todos os direitos reservados.</p>
          <a href="#" class="text-white">Política de Privacidade</a> | 
          <a href="#" class="text-white">Termos de Uso</a>
        </div>
      </div>
    </div>
  </footer>
</body>
</html>