{% extends 'base.html' %}

{% block title %}Página Inicial{% endblock %}

{% block content %}
<div class="container">
    <div class="jumbotron mt-4">
        <h1 class="display-4">Bem-vindo ao Sistema de Feedback!</h1>
        <p class="lead">Gerencie usuários, jogos e feedbacks de forma simples e eficiente.</p>
        <hr class="my-4">
        <p>Comece explorando os recursos disponíveis no menu de navegação.</p>

        <div class="row mt-5">
            <div class="col-md-4 d-flex">
                <div class="card h-100 w-100">
                    <div class="card-body">
                        <h5 class="card-title">Resumo das Avaliações</h5>
                        <p class="card-text">Veja as estatísticas de feedback dos jogos.</p>
                        <a href="{{ url_for('resumo_jogos') }}" class="btn btn-success">Acessar</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 d-flex">
                <div class="card h-100 w-100">
                    <div class="card-body">
                        <h5 class="card-title">Ranking de Usuários</h5>
                        <p class="card-text">Veja quem mais enviou feedbacks no sistema.</p>
                        <a href="{{ url_for('ranking_usuarios') }}" class="btn btn-success">Acessar</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
</div>
{% endblock %}